{% extends "templates/empty_template.html.j2" %}

{% block styles %}
  <link href="/static/css/errors.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="container-illustration">
      <img src="/static/images/logo.svg" class="illustration">
    </div>
    <div class="text-left">
      <h1 class="display-1 status">403</h1>
      <p class="fs-3">Доступ запрещен</p>
      <p class="lead message text-secondary">
        Возможно, страница недоступна или отсутствуют разрешения открывать её.
        Обратитесь за необходимыми учётными данными к администратору.
      </p>
      {% if message %}
        <p class="extra-message">
          Дополнительно: {{ message }}
        </p>
      {% endif %}
      <a href="/" class="link">Вернуться на главную</a>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
{% endblock %}