{% extends "templates/empty_template.html.j2" %}

{% block styles %}
  <link href="/static/css/errors.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="container-illustration">
      <img src="/static/images/logo.svg" class="illustration">
    </div>
    <div class="text-left">
      <h1 class="display-1 status">404</h1>
      <p class="fs-3">Запрашиваемая страница не найдена</p>
      <p class="lead message text-secondary">
        Возможно, вы перешли по ссылке, в которой была допущена ошибка,
        или ресурс был удален.
      </p>
      <p  class="extra-message">
        {% if message %}
          Дополнительно: {{ message }}
        {% endif %}
      </p>
      <a href="/" class="link">Вернуться на главную</a>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
{% endblock %}