<!DOCTYPE html>
<html lang="ru" xml:lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Все запросы · Farado</title>

  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/css/page_template.css" rel="stylesheet" />
  <link href="/static/css/variables.css" rel="stylesheet" />
  <link href="/static/css/sidebar.css" rel="stylesheet" />
  <link href="/static/css/tabs.css" rel="stylesheet" />
  <link href="/static/css/board.css" rel="stylesheet" />
  <link href="/static/css/page-header.css" rel="stylesheet" />
  <link href="/static/css/lib_scrollbar.css" rel="stylesheet" />
  <link href="/static/css/breadcrumbs.css" rel="stylesheet" />
  <link href="/static/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="/static/css/prettify.css" rel="stylesheet" />

  <link href="/static/tabulator/css/tabulator.css" rel="stylesheet" type="text/css" />
  <link href="/static/tabulator/css/tabulator.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/page-toolbar.css" rel="stylesheet" type="text/css" />

  <style>
    .table-container {
      height: 100vh;
      overflow-y: auto;
      position: relative;
      margin-top: 0px;
    }

    #itemsTable {
      flex: 1;
      overflow-y: auto;
    }
  </style>
</head>


<body class="text-center">
  <div class="table-container">
    <div id="itemsTable"></div>
  </div>
</body>

<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/escape.html.js"></script>
<script src="/static/js/prettify.js"></script>
<script src="/static/js/jquery.scrollbar.js"></script>
<script src="/static/js/luxon.min.js"></script>
<script src="/static/tabulator/js/tabulator.js"></script>

<script>
  $(document).ready(function () {
    var table = new Tabulator("#itemsTable", {
          height: "100%",
          locale: true,
          layout: "fitData",
          resizableColumnFit: false,
          ajaxURL: "/issues/all_data",
          ajaxConfig: "GET",
          progressiveLoad: "scroll",
          placeholder: "No Data Set",

          selectableRange: 1,
          selectableRangeColumns: true,
          selectableRangeRows: true,
          selectableRangeClearCells: true,

          clipboard: true,
          clipboardCopyStyled: false,
          clipboardCopyConfig: {
              rowHeaders: false,
              columnHeaders: true,
          },
          clipboardCopyRowRange: "range",

          rowHeader: {
            headerSort: false,
            resizable: false,
            minWidth: 16,
            width: 16,
          },

          columns: [
              {
                title: "№",
                field: "id",
                sorter: "number",
                width: 64,
                maxWidth: 640,
                headerFilter:"input",
                formatter: function(cell, formatterParams) {
                  return '<a href="/issues/issue/' + cell.getValue() + '">'
                    + '<i class="bi bi-card-heading small-sidebar-icon me-1"></i> ' + cell.getValue()
                    + '</a>';
                },
              },
              {
                title: "Наименование",
                field: "caption",
                sorter: "string",
                maxWidth: 640,
                headerFilter:"input",
              },
              {
                title: "Тип",
                field: "issue_kind",
                sorter: "string",
                maxWidth: 640,
                headerFilter:"input",
              },
              {
                title: "Состояние",
                field: "state",
                sorter: "string",
                maxWidth: 640,
                headerFilter:"input",
              },
              {
                title: "Проект",
                field: "project",
                sorter: "string",
                maxWidth: 640,
                headerFilter:"input",
              },
              {
                title: "Версия",
                field: "version",
                sorter: "string",
                maxWidth: 640,
                headerFilter:"input",
              },
              {
                title: "Предок",
                field: "parent",
                sorter: "string",
                maxWidth: 640,
                headerFilter:"input",
              },
              {
                title: "№ предка",
                field: "parent_id",
                sorter: "number",
                width: 64,
                maxWidth: 640,
                headerFilter:"input",
              },
              {
                title: "Создано",
                field: "created",
                maxWidth: 640,
                headerFilter:"input",
                sorter:"datetime",
                sorterParams: {
                  format:"dd.MM.yyyy HH:mm:ss",
                  alignEmptyValues:"top",
                }
              },
              {
                title: "Кто создал",
                field: "create_user",
                sorter: "string",
                maxWidth: 640,
                headerFilter:"input",
              },
              {
                title: "Изменено",
                field: "last_modified",
                maxWidth: 640,
                headerFilter:"input",
                sorter:"datetime",
                sorterParams: {
                  format:"dd.MM.yyyy HH:mm:ss",
                  alignEmptyValues:"top",
                }
              },
              {
                title: "Кто изменил",
                field: "last_modify_user",
                sorter: "string",
                maxWidth: 640,
                headerFilter:"input",
              },
          ],
          langs:{
            "ru":{
                "columns":{
                    "name": "Наименование",
                },
                "data":{
                    "loading": "Загрузка",
                    "error": "Ошибка",
                },
                "groups": {
                    "item": "Элемент",
                    "items": "Элементы",
                },
                "pagination":{ // TODO: Добавить перевод...
                    "page_size": "Page Size", //label for the page size select element
                    "page_title": "Show Page",//tooltip text for the numeric page button, appears in front of the page number (eg. "Show Page" will result in a tool tip of "Show Page 1" on the page 1 button)
                    "first": "First", //text for the first page button
                    "first_title": "First Page", //tooltip text for the first page button
                    "last": "Last",
                    "last_title": "Last Page",
                    "prev": "Prev",
                    "prev_title": "Prev Page",
                    "next": "Next",
                    "next_title": "Next Page",
                    "all": "All",
                    "counter": {
                        "showing": "Showing",
                        "of": "of",
                        "rows": "rows",
                        "pages": "pages",
                    }
                },
                "headerFilters": {
                    "default": "🔍",
                    "columns": {
                        "name": "🔍",
                    }
                }
            }
          },
      });
      table.setLocale("ru");

      $(window).resize(function(){
          table.redraw(true);
      });
  });
</script>

</html>
