{% extends "templates/main_template.html.j2" %}
{% import "macros/table.html.j2" as TABLE %}


{% block title %}Доски · Farado{% endblock %}

{% set active_menu = 'boards' %}


{#----------------------------------------------------------------------------#}
{% block styles %}
  {{ TABLE.STYLES() }}
  <link href="/static/css/page-toolbar.css" rel="stylesheet" type="text/css" />
{% endblock %}


{#----------------------------------------------------------------------------#}
{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Доски</li>
  </ol>
{% endblock %}


{#----------------------------------------------------------------------------#}
{% block content %}
  {% if restriction.is_admin %}
    <div class="page-toolbar">
      <a  href="/boards/add_board"
          class="btn btn-outline-primary btn-sm"
          role="button"
          aria-pressed="true">
        <i class="bi bi-plus mr-1"></i> Добавить доску
      </a>
    </div>
  {% endif %}

  <div class="table-container">
    <table
        class="table table-striped table-sm table-bordered table-hover"
        style="width:100%"
        id="boards_table">
      <thead>
        <tr>
          <th scope="col" style="width: 1%; align: right">Приоритет</th>
          <th scope="col">Название</th>
          <th scope="col">Рабочий процесс</th>
          <th scope="col" style="width: 1%">#</th>
        </tr>
      </thead>
      <tbody>
        {% for board in project_manager.boards() %}
          <tr>
            <th>
              {% if board.priority is none %}
                0
              {% else %}
                {{- board.priority -}}
              {% endif %}
            </th>
            <td>
              <a href="/boards/board/{{ board.id }}"><i class="bi bi-kanban"></i> {{ board.caption|e }}</a>
            </td>
            <td>
              {% set workflow = project_manager.workflow(board.workflow_id) %}
              {% if workflow %}
                {{- workflow.caption|e -}}
              {% endif %}
            </td>
            <td scope="row">{{ board.id }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}


{#----------------------------------------------------------------------------#}
{% block scripts %}
  {{ TABLE.SCRIPTS() }}
  <script>
    document_ready_function = function() {
      $('#boards_table').DataTable({
        "paging": false,
        "processing": true,
        "serverSide": false,
        "searching": false,
        "ordering": true,
        "pageLength": 20,
        "lengthChange": false,
        "order": [[ 0, "asc" ], [ 1, "asc" ]],
        "columns": [
          {
            "data": "priority",
            "orderable": true
          },
          {
            "data": "caption",
            "orderable": true
          },
          {
            "data": "workflow",
            "orderable": true
          },
          {
            "data": "id",
            "orderable": true
          }
        ]
      });
    }
  </script>
{% endblock %}
