{% extends "templates/main_template.html.j2" %}



{% block title %}Farado — Главная{% endblock %}



{% block styles %}
{% endblock %}



{% block content %}
  {# TODO: Реализовать главную страницу. #}
{% endblock %}



{% block scripts %}
{% endblock %}
