<!DOCTYPE html>
<html lang="ru" xml:lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Farado</title>

  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <link href="/static/css/login.css" rel="stylesheet">
</head>

<body class="text-center">

  <main class="form-login">
    <form action="/" method="post">
      <img class="mb-4" src="/static/images/icon/small-logo.svg" alt="">
      <h1 class="h3 mb-3 fw-normal">Farado</h1>
      <p>Открытое серверное веб-приложение для управления проектами.</p>

      <div class="form-floating">
        <input
            type="text"
            name="login"
            class="form-control"
            id="floatingInput"
            placeholder="Логин"
            required
            autofocus>
        <label for="floatingInput">Логин</label>
      </div>

      <div class="form-floating">
        <input
            type="password"
            name="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Пароль"
            required>
        <label for="floatingPassword">Пароль</label>
      </div>

      <button class="w-100 btn btn-lg btn-outline-primary" type="submit">Войти</button>

      {# NOTE : Последняя функция и её аргументы вызываемая пользователем
                до авторизации. Данные нужны для переадресации после успешного
                входа в систему. #}
      {% if function %}
        <input type="hidden" name="function" value="{{ function }}">
        {% if args %}
          {% for key, value in args.items() %}
            {% if (value is iterable) and
                  (value is not string) and
                  (value is not mapping) %}
              {% for sub_value in value %}
                <input type="hidden" name="{{ key }}" value="{{ sub_value }}">
              {% endfor %}
            {% else %}
              <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}

      <p class="mt-5 mb-3 text-muted">© 2021-2023</p>
    </form>
  </main>
</body>

</html>
