{% extends "templates/main_template.html.j2" %}


{% block title %}Роли · Farado{% endblock %}

{% set active_menu = 'roles' %}


{#----------------------------------------------------------------------------#}
{% block styles %}
  <link href="/static/css/page-toolbar.css" rel="stylesheet" type="text/css" />
{% endblock %}


{#----------------------------------------------------------------------------#}
{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Роли</li>
  </ol>
{% endblock %}


{#----------------------------------------------------------------------------#}
{% block content %}
  <div class="page-toolbar">
    <a href="/roles/add_role"
        class="btn btn-outline-primary btn-sm"
        role="button"
        aria-pressed="true">
      <i class="bi bi-plus mr-1"></i> Добавить роль
    </a>
  </div>

  <div class="row placeholders mt-4">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col" style="width: 1%">Id</th>
          <th scope="col">Название</th>
        </tr>
      </thead>
      <tbody>
        {% for role in project_manager.roles() %}
        <tr>
          <th scope="row">{{ role.id }}</th>
          <td>
            <a href="/roles/role/{{ role.id }}">{{ role.caption|e }}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}


{#----------------------------------------------------------------------------#}
{% block scripts %}
{% endblock %}
