{% extends "templates/main_template.html.j2" %}


{% block title %}Дни недели · Farado{% endblock %}

{% set active_menu = 'calendar' %}


{#----------------------------------------------------------------------------#}
{% block styles %}
  <link href="/static/css/page-toolbar.css" rel="stylesheet" type="text/css" />
{% endblock %}


{#----------------------------------------------------------------------------#}
{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Дни недели</li>
  </ol>
{% endblock %}


{#----------------------------------------------------------------------------#}
{% block content %}
  <form id="standard_days_form" class="row g-3 mt-3" action="/calendar/standard_days" method="post">
    <table class="table mt-4">
      <thead class="table-dark">
        <tr>
          <th scope="col" style="width: 1%">День</th>
          <th scope="col">Начало рабочего дня</th>
          <th scope="col">Конец рабочего дня</th>
          <th scope="col">Длительность перерыва</th>
          <th scope="col">Порядковый номер в неделе</th>
        </tr>
      </thead>
      <tbody>
        {% for standard_day in project_manager.standard_days() %}
          <tr>
            <th scope="row">
              {% if 0 == standard_day.week_day %}Пн{% endif %}
              {% if 1 == standard_day.week_day %}Вт{% endif %}
              {% if 2 == standard_day.week_day %}Ср{% endif %}
              {% if 3 == standard_day.week_day %}Чт{% endif %}
              {% if 4 == standard_day.week_day %}Пт{% endif %}
              {% if 5 == standard_day.week_day %}Сб{% endif %}
              {% if 6 == standard_day.week_day %}Вс{% endif %}
            </td>
            <td>
              <input
                type="time"
                name="begin_time_{{ standard_day.week_day }}"
                class="form-control form-select-sm"
                value="
                  {%- if None == standard_day.begin_time -%}
                  {%- else -%}
                    {{ standard_day.begin_time|e }}
                  {%- endif -%}">
            </td>
            <td>
              <input
                type="time"
                name="end_time_{{ standard_day.week_day }}"
                class="form-control form-select-sm"
                value="
                  {%- if None == standard_day.end_time -%}
                  {%- else -%}
                    {{ standard_day.end_time|e }}
                  {%- endif -%}">
            </td>
            <td>
              <input
                type="time"
                name="break_duration_{{ standard_day.week_day }}"
                class="form-control form-select-sm"
                value="
                  {%- if None == standard_day.break_duration -%}
                  {%- else -%}
                    {{ standard_day.break_duration_string() }}
                  {%- endif -%}">
            </td>
            <td>
              <input
                type="number"
                name="week_order_{{ standard_day.week_day }}"
                class="form-control form-select-sm"
                value="{{ standard_day.week_order }}"
                required>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="col-12">
      <div class="button-container">
        <button type="submit" class="btn btn-success">
          <i class="bi bi-save"></i> Сохранить
        </button>
      </div>
    </div>
  </form>
{% endblock %}


{#----------------------------------------------------------------------------#}
{% block scripts %}
{% endblock %}