{% extends "templates/main_template.html.j2" %}



{% block title %}Пользователи · Farado{% endblock %}

{% set active_menu = 'users' %}


{#----------------------------------------------------------------------------#}
{% block styles %}
  <link href="/static/tabulator/css/tabulator.css" rel="stylesheet" type="text/css" />
  <link href="/static/tabulator/css/tabulator.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/page-toolbar.css" rel="stylesheet" type="text/css" />

  <style>
    .table-container {
      height: 100vh;
      overflow-y: auto;
      position: relative;
      margin-top: 0px;
    }

    #users_table {
      flex: 1;
      overflow-y: auto;
      padding: 0%;
    }
  </style>
{% endblock %}


{#----------------------------------------------------------------------------#}
{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Пользователи</li>
  </ol>
{% endblock %}


{#----------------------------------------------------------------------------#}
{% block content %}

  <div class="page-toolbar">
    <a href="/users/add_user" class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true"><i
      class="bi bi-plus mr-1"></i>Добавить пользователя</a>
  </div>

  <div class="row placeholders mt-4 table-container">

    <table 
        id="users_table">
      <thead>
        <tr>
          <th>№</th>
          <th>Login</th>
          <th>ФИО</th>
          <th>Email</th>
          <th>Нужно сменить пароль</th>
          <th>Блокировка</th>
          <th>Статус</th>
        </tr>
      </thead>
      <tbody>
        {% for user in project_manager.users() %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.login|e }}</td>
          <td>{{ user.last_name|e }} {{ user.first_name|e }} {{ user.middle_name|e }}</td>
          <td>{{ user.email|e }}</td>
          <td>{% if user.need_change_password %}Да{% else %}Нет{% endif %}</td>
          <td>{% if user.is_blocked %}Блок{% else %}Активный{% endif %}</td>
          <td>{% if user.online_state %}Онлайн{% else %}Оффлайн{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}


{#----------------------------------------------------------------------------#}
{% block scripts %}
  <script src="/static/js/luxon.min.js"></script>
  <script src="/static/tabulator/js/tabulator.js"></script>

  <script>
    document_ready_function = function() {
      var userLink = function(cell, formatterParams){
        return cell._cell.value;
      };

      var table = new Tabulator("#users_table", {
        height: "100%",
        locale: true,
        layout: "fitColumns",
        resizableColumnFit: false,
        progressiveLoad: "scroll",
        placeholder: "No Data Set",

        selectableRange: 1,
        selectableRangeColumns: true,
        selectableRangeRows: true,
        selectableRangeClearCells: true,

        clipboard: true,
        clipboardCopyStyled: false,
        clipboardCopyConfig: {
            rowHeaders: false,
            columnHeaders: true,
        },
        clipboardCopyRowRange: "range",

        rowHeader: {
          headerSort: false,
          resizable: false,
          minWidth: 16,
          width: 16,
        },

        columns: [
            {
              title: "№",
              sorter: "number",
              width: 64,
              headerFilter:"input",
              formatter: function(cell, formatterParams) {
                return '<a href="/users/user?target_user_id=' + cell.getValue() + '" title="Modify user">'
                  + '<i class="bi bi-person-fill me-1"></i> ' + cell.getValue()
                  + '</a>';
              },
            },
            {
              title: "Login",
              sorter: "string",
              maxWidth: 640,
              headerFilter:"input",
            },
            {
              title: "ФИО",
              sorter: "string",
              maxWidth: 640,
              headerFilter:"input",
            },
            {
              title: "Email",
              sorter: "string",
              maxWidth: 640,
              headerFilter:"input",
            },
            {
              title: "Нужно сменить пароль",
              sorter: "string",
              maxWidth: 640,
              headerFilter:"input",
              formatter: function(cell, formatterParams) {
                if (cell.getValue() == "Да")
                  return "<span class='badge bg-danger'>Да</span>";
                return "<span class='badge bg-light text-dark'>Нет</span>";
              },
            },
            {
              title: "Блокировка",
              sorter: "string",
              maxWidth: 640,
              headerFilter:"input",
              formatter: function(cell, formatterParams) {
                if (cell.getValue() == "Блок")
                  return "<span class='badge bg-secondary'>Блок</span>";
                return "<span class='badge bg-success'>Активный</span>";
              },

            },
            {
              title: "Статус",
              sorter: "string",
              maxWidth: 640,
              headerFilter:"input",
              formatter: function(cell, formatterParams) {
                if (cell.getValue() == "Онлайн")
                  return "<span class='badge bg-success'>Онлайн</span>";
                return "<span class='badge bg-light text-dark'>Оффлайн</span>";
              },
            },
        ],

        langs:{
          "ru":{
              "columns":{
                  "name": "Наименование",
              },
              "data":{
                  "loading": "Загрузка",
                  "error": "Ошибка",
              },
              "groups": {
                  "item": "Элемент",
                  "items": "Элементы",
              },
              "pagination":{ // TODO: Добавить перевод...
                  "page_size": "Page Size", //label for the page size select element
                  "page_title": "Show Page",//tooltip text for the numeric page button, appears in front of the page number (eg. "Show Page" will result in a tool tip of "Show Page 1" on the page 1 button)
                  "first": "First", //text for the first page button
                  "first_title": "First Page", //tooltip text for the first page button
                  "last": "Last",
                  "last_title": "Last Page",
                  "prev": "Prev",
                  "prev_title": "Prev Page",
                  "next": "Next",
                  "next_title": "Next Page",
                  "all": "All",
                  "counter": {
                      "showing": "Showing",
                      "of": "of",
                      "rows": "rows",
                      "pages": "pages",
                  }
              },
              "headerFilters": {
                  "default": "🔍",
                  "columns": {
                      "name": "🔍",
                  }
              }
          }
        },
      });

      $(window).resize(function(){
          table.redraw(true);
      });
    }
  </script>
{% endblock %}
