{% extends "templates/main_template.html.j2" %}


{% block title %}Рабочие процессы · Farado{% endblock %}

{% set active_menu = 'workflows' %}


{#----------------------------------------------------------------------------#}
{% block styles %}
  <link href="/static/css/page-toolbar.css" rel="stylesheet" type="text/css" />
{% endblock %}


{#----------------------------------------------------------------------------#}
{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Рабочие процессы</li>
  </ol>
{% endblock %}


{#----------------------------------------------------------------------------#}
{% block content %}

  <div class="page-toolbar">
    <a href="/workflows/add_workflow"
        class="btn btn-outline-primary btn-sm"
        role="button"
        aria-pressed="true">
      <i class="bi bi-plus mr-1"></i> Добавить процесс
    </a>
  </div>

  <div class="row placeholders mt-4">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col" style="width: 1%">Id</th>
          <th scope="col">Название</th>
        </tr>
      </thead>
      <tbody>
        {% for workflow in project_manager.workflows() %}
        <tr>
          <th scope="row">{{ workflow.id }}</th>
          <td>
            <a href="/workflows/workflow/{{ workflow.id }}">
              {{ workflow.caption|e }}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}


{#----------------------------------------------------------------------------#}
{% block scripts %}
{% endblock %}
