{# TODO: документарий #}
{# TODO: доработать вывод изменений в ключе горизонтального
        скролла, если содержимое не влезает в ширину экрана #}
{% macro TAG(change, change_section) -%}
  <pre>
    {%- for line in change.text_changes(change_section) -%}
      {% set line_type = line[0] %}
      {%- if change.diff_line_type().added == line_type -%}
        <div class="bg-success-subtle" title="{{- line[1]|e -}}">
      {%- elif change.diff_line_type().removed == line_type -%}
        <div class="bg-danger-subtle" title="{{- line[1]|e -}}">
      {%- elif change.diff_line_type().meta == line_type -%}
        <div class="bg-warning-subtle" title="{{- line[1]|e -}}">
      {%- else -%}
        <div>
      {%- endif -%}
      {{- line[1]|e -}}
      </div>
    {%- endfor -%}
  </pre>
{%- endmacro %}

