{% macro VALUE(user, current_user_id=None) -%}
  {{ user.last_name|e }}
  {%- if user.first_name %} {{ user.first_name|e }}{% endif -%}
  {%- if user.middle_name %} {{ user.middle_name|e }}{% endif -%}
  {%- if current_user_id == user.id %} (я){% endif -%}
  {%- if user.is_blocked %} (блок){% endif -%}
{%- endmacro %}

{% macro VALUE_WITH_ICON(user, current_user_id=None) -%}
  {% if user.is_blocked %}
    <i class="bi bi-person-x-fill me-1"></i>
  {% else %}
    <i class="bi bi-person-fill me-1"></i>
  {% endif %}
  {{- VALUE(user, current_user_id) }}
{%- endmacro %}
