.board-container {
    position: relative;
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-width: 1px;
}

.board-column {
    position: relative;
    overflow: auto;
    max-height: calc(100vh - 216px);
    min-height: 1vh;
    height: 100%;
}

.avatars {
    display: flex;
    align-items: center;
}

.avatars>a+a {
    margin-left: -0.45rem;
}