.site-nav-wrap {
    font-weight: 400;
    color: black;
    overflow: hidden;
    width: fit-content;
}

.breadcrumb-nav {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 30px;
}

.breadcrumb-wrap:before {
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: transform ease-in-out 0.5s;
    transform: scalex(0);
    transform-origin: left top;
    display: none;
}

.breadcrumb-wrap:hover:before {
    transform: scalex(1);
}

.breadcrumb-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 0 auto;
    flex-shrink: 1000;
    display: inline-block;
    padding: 10px 5px 15px 0;
    border-bottom: 1px solid transparent;
    color: black;
    position: relative;
    transition: transform ease-in-out 0.3s;
}

.breadcrumb-wrap:hover {
    flex: 1 0 auto;
    opacity: 1;
    transform: translatey(-2px);
    transition: none;
    opacity: 1;
    transition: transform ease-in-out 0.4s;
}

.breadcrumb-wrap:hover a {
    color: var(--color-blue-background);
}

.breadcrumb-wrap:hover .sep i {
    transform: translatex(8px);
    color: rgb(0, 0, 0);
    transition: transform ease-in-out 0.3s;
}

.breadcrumb-wrap:hover~.single-breadcrumb-wrap {
    transition: transform ease-in-out 0.4s;
}

.breadcrumb-wrap:first-child {
    flex: 0 0 auto;
    flex-shrink: 0.5;
    font-weight: normal;
    color: rgb(0, 0, 0);
    opacity: 1;
}

.breadcrumb-wrap:first-child:after {
    left: 0;
}

.breadcrumb-wrap:first-child .sep {
    display: none;
}

.breadcrumb-wrap:last-child {
    /* flex: 1 0 auto !important;  пока оставлю. Нужно протестировать*/
    font-weight: normal;
}

.breadcrumb-wrap:last-child a {
    color: var(--hover-color);
}

.breadcrumb-wrap:last-child:hover {
    transform: translateY(0);
    flex: 1 0 auto !important;
}

.breadcrumb-wrap:last-child:hover:after {
    display: none;
}

.breadcrumb-wrap:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 28px;
    top: 36px;
    width: 100%;
    height: 1px;
    background: rgb(255, 255, 255);
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 50%;
    transition: transform ease-in-out 0.15s 0.1s, opacity ease-in-out 0.25s;
    opacity: 0.5;
}

.breadcrumb-wrap:hover:after {
    transform: scale3d(1, 1, 1);
    opacity: 1;
    transition: opacity ease-in-out 0.1s, transform ease-in-out 0.2s;
}

.breadcrumb-text {
    flex: 0 1 auto;
}

.sep {
    padding-left: 10px;
    padding-right: 10px;
}

.sep i.fa:before {
    content: rgb(0, 0, 0);
    transition: transform ease-in-out 0.2s;
}