.status {
    color: var(--color-gray-900);
    font-size: 7em;
    font-weight: 800;
}

.container-illustration {
    position: relative;
    height: 100%;

}

.illustration {
    opacity: 0.1;
    width: 100%;
    height: 100%;
}

@media (max-width: 1100px) {
    .illustration {
        display: none;
    }
}

.message {
    width: 714px;
}

.link {
    color: var(--color-dark-green);
    outline: 0;
    box-shadow: none;
}

.link:hover {
    opacity: 0.8;
    color: var(--color-dark-green);
    outline: 0;
}

.extra-message {
    font-weight: 300;
    font-size: 1rem;
    color: var(--color-gray-500);
}