.page-toolbar {
    align-items: center;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-light-border);
    display: flex;
    flex: 0 0 auto;
    height: 40px;
    padding-left: 4px;
    padding-right: 4px;
    height: 56px;
    z-index: 100;
}

.table-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 1px;
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.page-item.active .page-link {
    z-index: 3;
    color: var(--color-white);
    background-color: var(--color-blue-background);
    border-color: var(--color-blue-background);
}

.page-link {
    padding: 0.1rem 0.7rem;
    font-size: 0.9em;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-button h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

@media (max-width: 1200px) {
    .container-button h5 {
        width: 60%;
    }
}

.container-button {
    width: 100%;
}

.badge-primary {
    color: var(--color-white);
    background-color: var(--color-blue-background);
}

a.badge-primary:hover {
    opacity: 0.9;
    color: var(--color-white);
}

.version {
    margin-left: 10px;
    color: var(--color-blue-background);
}

.trash-icon {
    font-size: 1.3em;
    color: #ef0505;
}

.comment-link p a {
    color: var(--color-blue-background);
    cursor: pointer;
}

.comment-link p a:visited {
    color: #4b2f89;
}

.issue-content .tab-content {
    padding-top: 10px;
}