/* main container */

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

.page-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 1px;
    position: relative;
    height: calc(100vh - 11vh);
    overflow: auto;
    padding: 0em 1.2rem 0;
}

.main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    min-width: 0;
    transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
    flex-direction: column;
}

.content {
    flex: 1;
    direction: ltr;
}

.base-topbar {
    align-items: center;
    border-bottom: 1px solid var(--color-light-border);
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    min-height: 72px;
    padding: 0 24px;
    position: relative;
    z-index: 200;
}

a {
    color: var(--color-dark-text);
    cursor: pointer;
    text-decoration: none;
}

.main-nav {
    padding-top: 0;
    color: var(--color-nav-text);
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid var(--color-dark-border);
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.name {
    font-size: 14px;
    line-height: 22px;
    padding-right: 4px;
    text-align: left;
    font-weight: 500;
}

.sub-item {
    align-items: center;
    display: flex;
    height: 28px;
    padding: 0 24px 0 24px;
}

.square-icon {
    flex: 0 0 auto;
    height: 12px;
    width: 12px;
    margin-right: 8px;
}

.item-row {
    align-items: center;
    display: flex;
    height: 28px;
    line-height: 28px;
    padding: 0 24px 0 24px;
}

.blue {
    fill: #1d42bb;
}

.chartreuse {
    fill: #7FFF00;
}

.DarkOrange {
    fill: #FF8C00;
}

.Gold {
    fill: #FFD700;
}

.item-row-menuButton {
    visibility: hidden;
    width: 0;
    display: flex;
    color: #754311;
}

.item-row:hover .item-row-menuButton {
    margin: 0 4px;
    visibility: visible;
    width: auto;
    color: var(--color-nav-text);
}

.mini-icon {
    flex: 0 0 auto;
}

.project-name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dropdown-toggle::after {
    display: none;
}

.project-context-menu:hover {
    background-color: #3717170d;
}

.down-icon {
    flex: 0 0 auto;
    height: 16px;
    width: 16px;
}

.dropdown-item {
    font-size: 14px;
    --bs-nav-link-padding-x:1rem;
    --bs-nav-link-padding-y:0.5rem;
    --bs-nav-link-color:var(--bs-light);
}

.danger {
    color: var(--color-danger-text);
}

.dropdown-menu {
    border: 1px solid rgba(0, 0, 0, .10);
}

.global-actions .dropdown-item {
    font-size: 14px;
    align-items: center;
    color: var(--color-dark-text);
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 40px;
    padding: 0 32px 0 16px;
}

.menu-icon {
    flex: 0 0 auto;
    height: 16px;
    margin-right: 8px;
    width: 16px;
    font-size: 14px;
    margin-bottom: 3px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--color-white);
    background-color: var(--bs-dark-border-subtle);
}

.global-actions .dropdown-item:focus,
.global-actions .dropdown-item:hover {
    color: var(--color-dark-text);
    background-color: #37171708;
}

.form-control {
    background-color: rgb(241, 243, 247);
    border: none
}

.nav-pills .nav-link {
    font-weight: 400;
}

.nav-pills .nav-link.active {
    color: var(--color-dark-text);
    background-color: transparent;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 600 !important;
    border-bottom: 2px solid var(--color-accent-text);
}

ul.nav.nav-pills {
    /* TODO: разобраться, нужно ли это:
    border-bottom: 1px solid var(--color-light-border); /* 0px */
}

.nav-pills .nav-link:hover {
    color: black !important;
}

.TopbarPageHeader-topSection .breadcrumb {
    margin-bottom: 0;
    font-size: 0.97em;
}

#issues_table_wrapper {
    width: 100% !important;
    margin: 0 auto 1em;
    overflow-x: hidden;
}

.nav-link {
    font-weight: 400;
}

.nav-link:focus,
.nav-link:hover {
    opacity: 0.85;
    color: black;
}

h5 {
    font-size: 1.25rem;
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: var(--sidebar-bg);
}

.table> :not(:first-child) {
    border-top: 0 !important;
}

.mr-5 {
    margin-right: 5px;
}

.parent-title {
    font-size: 12px;
    color: var(--color-gray-600);
    display: block;
}

td {
    vertical-align: middle;
}

.toolbar-item {
    display: inline-block;
    outline: 0;
    padding: 0 5px 0 0;
    vertical-align: middle;
}

.toolbar-separator {
    border-left: 1px solid #ddd;
    height: 36px;
}

.button-edit {
    align-items: center;
    background: 0 0;
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #212529;
    display: flex;
    flex: 0 0 auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    height: 36px;
    justify-content: center;
    margin: 3px 0 2px 0;
    outline: 0;
    overflow: hidden;
    padding: 0 24px;
    text-transform: none;
    width: 36px;
}

.button-edit:hover {
    background: #dededf;
    border: 0;
    box-shadow: none;
    color: #212529;
}

.edit-parent .bi {
    font-size: 18px;
}

.edit-controls {
    text-align: left;
    padding: 5px;
    display: flex;
    align-items: center;
}

.notification {
    background: #ff5252;
    position: absolute;
    right: -10px;
    top: -5px;
    z-index: 2;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    transform: scale(1);
    box-shadow: 0 0 0 0 #ff5252;
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.85);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.text-overflow {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 94%;
}

@media (max-width: 1700px) {
    .text-overflow {
        width: 90%;
    }
}

@media (max-width: 1600px) {
    .text-overflow {
        width: 79%;
    }
}

@media (max-width: 1400px) {
    .text-overflow {
        width: 68%;
    }
}

@media (max-width: 1300px) {
    .text-overflow {
        width: 65%;
    }
}

@media (max-width: 1200px) {
    .text-overflow {
        width: 57%;
    }
}

@media (max-width: 1100px) {
    .text-overflow {
        width: 53%;
    }
}

@media (max-width: 1000px) {
    .text-overflow {
        width: 42%;
    }
}

@media (max-width: 900px) {
    .text-overflow {
        width: 30%;
    }
}

@media (max-width: 700px) {
    .text-overflow {
        width: 20%;
    }
}

#sidebarMenu .accordion-button {
    color: var(--color-gray-100);
    background-color: var(--sidebar-bg);
    border: none;
}

#sidebarMenu .accordion-button.collapsed {
    background: var(--sidebar-bg);
}

#sidebarMenu .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

#sidebarMenu .accordion-button:not(.collapsed) {
    color: var(--color-gray-100);
    background-color: var(--sidebar-bg);
    box-shadow: none;
}

#sidebarMenu .accordion-item {
    color: var(--color-gray-100);
    background-color: #323436;
    border: none;
}

#sidebarMenu .accordion-body {
    padding: 0;
}


#sidebarMenu .accordion-button:focus {
    border: none;
    box-shadow: none;
}