.BaseTopbar-pageHeader {
    display: inline-flex;
    flex: 1 1 auto;
    min-width: 1px;
}

.TopbarPageHeaderStructure {
    display: flex;
    flex: 1 1 auto;
    min-width: 1px;
}

.ProjectPageHeader {
    flex: 1 1 auto;
    min-width: 1px;
}

.TopbarPageHeader-topSection {
    display: flex;
    flex: 1 1 auto;
    height: 72px;
    min-width: 1px;
}

.TopbarPageHeader-leftElement {
    align-self: center;
    margin-right: 16px;
}

.TopbarPageHeader-title {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 1px;
    justify-content: center;
    margin-bottom: 0;
}

.TopbarPageHeader-titleRow {
    align-items: center;
    display: flex;
    max-width: 100%;
}

.TopbarPageHeader-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    align-items: center;
    color: var(--color-gray-900);
    flex: 0 1 auto;
    margin-right: 4px;
    min-width: 1px;
    text-overflow: ellipsis;
    transition: color 200ms ease-in-out;
    white-space: nowrap;
}

.global-actions {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    background-color: transparent;
    border-left: 1px solid var(--color-light-border);
}

.search-container {
    flex: 0 0 auto;
    position: relative;
    width: 118px;
    margin-left: 8px;
}

.action-container {
    align-items: center;
    border: 1px solid;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    transition-duration: .2s;
    transition-property: background, border, box-shadow, fill;
    height: 28px;
    min-height: 28px;
    min-width: 28px;
    width: 28px;
    background: var(--color-accent-text);
    border-color: rgb(220, 220, 220);
    fill: var(--color-white);
    border-style: none;
    cursor: pointer;
    margin-left: 12px;
    margin-right: 0;
}

.plus-icon {
    flex: 0 0 auto;
    height: 16px;
    width: 16px;
}

.profile-btn {
    align-items: center;
    color: var(--color-open-button-fill-hover);
    cursor: pointer;
    display: flex;
    margin-left: 12px;
    transition: .2s background, .2s color, .2s box-shadow;
}

.avatar-container {
    align-items: center;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 7%);
    box-sizing: border-box;
    color: var(--color-white);
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-flex;
    justify-content: center;
    position: relative;
    vertical-align: top;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    min-width: 28px;
    width: 28px;
    transition: box-shadow .2s;
    color: var(--color-white);
    border: 1.1px solid var(--color-white);
}

.avatar-container-background-0 {
    background: #0000F4;
}
.avatar-container-background-1 {
    background: #0044A4;
}
.avatar-container-background-2 {
    background: #008CE3;
}
.avatar-container-background-3 {
    background: #00BF9C;
}
.avatar-container-background-4 {
    background: #4CAF50;
}
.avatar-container-background-5 {
    background: #0D9589;
}
.avatar-container-background-6 {
    background: #2295BA;
}
.avatar-container-background-7 {
    background: #2663EC;
}
.avatar-container-background-8 {
    background: #3D6177;
}
.avatar-container-background-9 {
    background: #E91E63;
}
.avatar-container-background-10 {
    background: #558E99;
}
.avatar-container-background-11 {
    background: #5A7896;
}
.avatar-container-background-12 {
    background: #635AC7;
}
.avatar-container-background-13 {
    background: #6457F9;
}
.avatar-container-background-14 {
    background: #7986CB;
}
.avatar-container-background-15 {
    background: #8E44AD;
}
.avatar-container-background-16 {
    background: #9C27B0;
}
.avatar-container-background-17 {
    background: #D55E62;
}
.avatar-container-background-18 {
    background: #0172B6;
}
.avatar-container-background-19 {
    background: #ED4758;
}
.avatar-container-background-20 {
    background: #F49E0F;
}
.avatar-container-background-21 {
    background: #FF5722;
}

.logo-button {
    outline: 0;
    position: relative;
    border: 0;
    padding: 0;
    background: transparent;
}

.style-logo-button {
    background-color: var(--color-accent-text);
    border-radius: 12px;
    height: 48px;
    width: 48px;
    box-shadow: inset 0 -2px rgb(0 0 0 / 5%);
    align-items: center;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: flex;
    fill: var(--color-white);
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
}

.icon-farado {
    height: 24px;
    width: 24px;
    clip-rule: evenodd;
    fill-rule: evenodd;
}

.global-actions .form-control {
    border-radius: 20px;
    font-size: 13px;
}

.project-context-menu {
    color: var(--color-dark-text);
    border-color: #00000000 !important;
    height: 28px;
    min-height: 28px;
    min-width: 28px;
    width: 28px;
    border-radius: 6px !important;
    cursor: pointer;
    align-items: center;
    border: 1px solid;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    transition-duration: .2s;
    transition-property: background, border, box-shadow, fill;
}

.nav-menu-tab {
    align-items: flex-end;
    align-self: stretch;
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-start;
    max-width: 100%;
}