.left-sidebar {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    min-width: 240px;
    max-width: 240px;
    /* transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out; */
    direction: ltr;
    background: var(--sidebar-bg);
    height: 100vh;
}

.left-sidebar-animation {
    transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
}

.small-sidebar {
    width: 4.5rem;
    background: var(--sidebar-bg);
    transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out, margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
    height: 100vh;
}

.sidebar-link {
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    transition: background .3s;
    align-items: center;
}

.sidebar-link-title {
    font-size: .75rem;
    text-align: center;
}

.scrollbar-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.sidebar-header {
    align-items: center;
    display: flex;
    height: 72px;
    justify-content: space-between;
}

.sidebar--visible {
    margin-left: -241px;
}

.hidden {
    display: none !important;
}

.sidebar-logo {
    background-image: url('../images/icon/logo.svg');
    background-position: 26px 0;
    background-repeat: no-repeat;
    background-size: 80px 16px;
    flex-grow: 1;
    height: 16px;
}

.logo {
    height: 29px;
}

.burger-icon {
    height: 16px;
    width: 25px;
}

.close-burger {
    cursor: pointer;
    flex-grow: 0;
    margin-right: 16px;
    padding: 0 8px;
    background: transparent;
    border: 0;
}

.nav-item {
    margin-bottom: 0;
}

.left-sidebar .nav-link {
    height: 32px;
    line-height: 32px;
    color: var(--color-nav-text);
    width: 87%;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    padding: 0 24px 0 24px;
}

.left-sidebar .nav-item:hover {
    background-color: var(--color-link-background-hover);
    color: var(--color-nav-text);
    ;
}

.left-sidebar .nav-link:focus {
    outline: none;
    color: var(--color-nav-text);
}

.is-selected {
    background-color: var(--color-link-selected-background-hover);
}

.btn-padding {
    padding-bottom: 8px;
}

.nav-icon {
    height: 20px;
    width: 20px;
    transition: transform 250ms ease-out;
}

.small-sidebar-icon {
    height: 27px;
    transition: transform 250ms ease-out;
    font-size: 17px;
}

.sidebar-collapsible-header {
    color: var(--color-nav-text) !important;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 40px;
    width: 100%;
    outline: 0 !important;
}

.sidebar-project-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-nav-text);
    padding: 0 24px 0 24px;
    height: 40px;
}

.sidebar-project-container:hover {
    color: var(--color-nav-text);
    opacity: 0.8;
}

.projects-list {
    padding: 8px 0;
}

.open-sidebr-icon {
    flex: 0 0 auto;
    height: 16px;
    width: 16px;
}

.icon {
    flex: 0 0 auto;
    width: 19px;
    cursor: pointer;
}

.open-button {
    align-items: center;
    border: 1px solid;
    border-radius: 50%;
    height: 36px;
    min-height: 36px;
    min-width: 36px;
    width: 36px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    transition-duration: .2s;
    transition-property: background, border, box-shadow, fill;
    cursor: pointer;
    border-radius: 6px;
    background-color: var(--color-open-button-background);
    border-color: var(--color-open-button-border);
    fill: var(--color-open-button-fill);
}

.open-button:hover {
    opacity: 0.8;
}

.sidebar-link:hover {
    background-color: var(--color-link-background-hover);
    color: var(--color-nav-text);
    ;
}

.dropend .main-list {
    display: flex;
    align-items: center;
    color: var(--color-nav-text);
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    --bs-nav-link-padding-x:1rem;
    --bs-nav-link-padding-y:0.5rem;
}

.dropend .main-list i {
    font-size: 20px;
}

.dropend {
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    text-decoration: none;
    color: #fff;
    transition: background .3s;
    align-items: center;
}

.role {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dropdown-menu-dark {
    background-color: var(--sidebar-bg);
    max-height: 45vh;
    overflow-y: auto;
}

.dropend .dropdown-toggle::after {
    display: none;
}


.hr-line {
    margin: 15px 0;
    width: 100%;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid var(--color-light-border);
}

#sidebarMenu .accordion-button {
    padding: 8px 24px;
}

.dropdown-menu-dark .dropdown-item:active {
    background-color: var(--color-link-background-hover);
    color: var(--color-nav-text);
}