/* tabs */

.nav-pills .nav-link.active {
    color: var( --color-dark-text);
    background-color: var(--color-white);
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 600
}

.tab-content {
    padding-bottom: 1.3rem
}

.nav-menu-tab .nav-pills .nav-link.active {
    color: var( --color-dark-text);
    background-color: transparent;
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 600 !important;
    border-bottom: 2px solid var(--color-accent-text);
}

.nav-menu-tab .nav-pills .nav-link {
    color: #6d6e6f;
    background-color: transparent;
    border-radius: 0.5rem 0.5rem 0 0;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    min-width: 1px;
    padding: 0;
    padding-bottom: 5px;
}

.nav-menu-tab .nav-item {
    flex: 0 1 auto;
}

.tab-margin {
    margin-left: 24px;
}

.title-tab {
    padding-bottom: 10px;
}

.tabs-container {
    flex: 1;
    min-width: 1px;
    position: relative;
    white-space: nowrap;
}

.tabs-container .nav-item+.nav-item {
    margin-left: 24px;
}