/* Глобальные стили - цвета */

:root {
    --color-white: #ffffff;
    --color-gray-100: #f8f9fc;
    --color-gray-200: #f1f3f9;
    --color-gray-300: #dee3ed;
    --color-gray-400: #c2c9d6;
    --color-gray-500: #8f96a3;
    --color-gray-600: #5e636e;
    --color-gray-700: #2f3237;
    --color-gray-800: #1d1e20;
    --color-gray-900: #111213;
    --color-dark-green: #41ad72;
    /* ---- */
    --sidebar-bg: #252628;
    --color-nav-text: #f5f4f3;
    --color-text-disabled: #6a696a;
    --color-dark-border: #424244;
    --color-light-border: #edeae9;
    --color-dark-text: #1e1f21;
    --color-link-background-hover: rgba(255, 255, 255, .2);
    --color-link-selected-background-hover: rgba(255, 255, 255, .16);
    --color-text-weak: #a2a0a2;
    --color-open-button-background: #00000000;
    --color-open-button-border: #00000000;
    --color-open-button-fill: #6d6e6f;
    --color-open-button-background-hover: #3717170d;
    --color-open-button-fill-hover: #6d6e6f;
    --color-danger-text: #f06a6f;
    --color-accent-text: #50cd89;
    --color-blue-background: #4573d2;
}


/* Глобальные стили - шрифт */

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    src: url("/static/fonts/Inter-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: url("/static/fonts/Inter-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url("/static/fonts/Inter-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("/static/fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("/static/fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("/static/fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    src: url("/static/fonts/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("/static/fonts/Inter-Black.ttf") format("truetype");
}

body {
    font-family: "Inter" !important;
    font-weight: 400;
    overflow: hidden;
}

.mr-8 {
    margin-right: 8px;
}


/* Переопределение стилей библиотеки boostrap */

.btn-success {
    color: #fff;
    background-color: var(--color-accent-text);
    border-color: var(--color-accent-text);
}

.btn-outline-success {
    color: #467761;
    border-color: #5da283;
    fill: #467761;
}

.btn-success:hover {
    color: #fff;
    background-color: var(--color-accent-text);
    border-color: var(--color-accent-text);
}

.btn-outline-success:hover {
    color: #467761;
    background-color: #e0f4ec;
    border-color: #5da283;
}

.btn-success:active,
.show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: var(--color-accent-text);
    border-color: var(--color-accent-text);
}

.btn-outline-primary {
    color: var(--color-blue-background);
    border-color: var(--color-blue-background);
    fill: var(--color-blue-background);
}

.btn-outline-primary:hover {
    color: var(--color-blue-background);
    background-color: #4574d217;
    border-color: var(--color-blue-background);
}

.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
    color: #fff;
    background-color: var(--color-blue-background);
    border-color: var(--color-blue-background);
}

.bg-success {
    background-color: var(--color-accent-text) !important;
}