<!DOCTYPE html>
<html lang="ru" xml:lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% endblock %}</title>

  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/css/variables.css" rel="stylesheet" />
  <link href="/static/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  {% block styles %}{% endblock %}

</head>

<body>

  {# Контент страницы #}
    <div class="content">
      {%- block content %}{% endblock -%}
    </div>
  {# /Контент страницы #}

  <script src="/static/js/jquery-3.6.0.min.js"></script>
  <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
  {% block scripts %}{% endblock %}
</body>

</html>